$font: Arial, Helvetica, sans-serif;

$hf-font-color: white;
$hf-bg-color:#ed3a4a;

$theme-font-color: rgb(85, 85, 85);
$theme-bg-color: #ffffff;
$theme-border-color: #dddddd;

$marker-font-color: #fa0419;


